.nav-left-button {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding: 5px;
}

.nav-right-button {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%) rotate(180deg);
    padding: 5px;
}

.zoom-controls {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.zoom-controls .button {
    padding: 5px;
}
